body {
  margin: 0;
  font-family: 'Montserrat';
}
h1 {
  font-size: 4rem;
  margin: 2rem 0;
}
.container {
  display: grid;
  justify-content: center;
  text-align: center;
  min-width: 400px;
}
#display {
  display: block;
  /* border: 1px solid; */
  border-radius: 50%;
  box-shadow: 0 0 5px;
  margin: 0 auto;
  margin-bottom: 1rem;
}
#valorGrau {
  font-size: 2rem;
}

#guess {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .5rem;
}

#guess input {
  border: 1px solid;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 24px;
}

button {
  cursor: pointer;
  border: 1px solid;
  border-radius: 0.5rem;
  transition: all 0.3s;
  font-family: 'Montserrat';
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

button:hover {
  background-color: #cdcdcd;
}
button:disabled{
  opacity: 1;
}
button:disabled:hover{
  background-color: inherit;
}

#displayTentativas {
  margin: 0.5rem 0 0;
}

#displayRespostas {
  display: grid;
  gap: 0.5rem;
  background-color: #333;
}

#displayAjuda {
  margin-top: 1rem;
}

.helpChild {
  display: grid;
  grid-template-columns: 2fr 1fr 5fr;
  gap: 0.2rem;
  margin-bottom: 0.2rem;
}
.helpChild div {
  background-color: #444444;
  border-radius: 0.5rem;
  padding: 0.6rem;
  color: white;
}

.window {
  opacity: 0;
  pointer-events: none;
  display: flex;
  z-index: 100;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
}
.window.show{
  opacity: 1;
  pointer-events: initial;
}
.windowWin {
  padding: 2rem;
  border-radius: 1rem;
  min-width: 300px;
  /* height: 400px; */
  background-color: #fff;
  text-align: center;
  position: relative;
}
.close{
  border: none;
  border-radius: 50%;
  position: absolute;
  top: -1rem;
  right: -1rem;
  aspect-ratio: 1 / 1;
  width: 3rem;
}
.close:hover{
  background-color: inherit;
}

h2 {
  margin: 0;
  margin-bottom: 1rem;
}

.floatingButtons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
}
